[Desktop Entry]
Name=SGT Puzzles
GenericName=Launcher for SGT Puzzle games
Comment=Launcher for SGT Puzzle games
Exec=sgt-launcher
Terminal=false
Type=Application
StartupNotify=true
StartupWmClass=sgt-launcher
Icon=sgt-launcher
Categories=Games;
