Source: sgt-launcher
Section: python
Priority: optional
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: Sean Davis <smd.seandavis@gmail.com>
Build-Depends: debhelper (>= 9),
 python3, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://launchpad.net/sgt-launcher

Package: sgt-launcher
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 gir1.2-gdkpixbuf-2.0,
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 python3-xcffib,
 sgt-puzzles
Enhances: sgt-puzzles
Description: launcher for sgt-puzzles collection
 This package frobnicates a Python-based doohicky so that you no longer
 need to kludge a dingus to make the doodads work.
 .
 This package installs the library for Python 2.
